
    /*-----------------------------------         Starts  HTML        --------------------------*/

    /*h1{font-size: 30px;font-family: arial;color:Navy;text-align:center;}*/
   body{
        margin: 0%;/*margin of 0% between gap of entire page length to the text*/
   }
   
   h1 { 
        display: block;
        font-size: 1.5em;
        margin-top: 2.00em;
        margin-bottom: 0.67em;
        margin-left: 3px;
        margin-right: 0;
        font-weight: bold;
        font-family: "Franklin Gothic Medium";
    }
    
    .body_html_one{
        margin-top: 2px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    
    .index_table{
        table-layout: auto;
        border-collapse: collapse;
        border-style: solid;
        border: solid;
        border-width: thin;
        border-color: #778899;
        width: 75%;
        margin-left: 120px;
    }
    
    .index{
        font-size: 20px;
        font-family: arial;
        background-color: #EEEEEE;
        color: black;
    }

    .index_attribute{
        font-size: 15px;
        font-family: arial;
        background-color: #DCDCDC;
        color: #292351; 
        text-align: center;
    }

    .index_iss{
        font-size: 16px;
        font-family: arial;
        background-color: #DCDCDC;
        color: #292351;
        text-align: center;
    }

    .indexvalue{
        font-size: 14px;
        font-family: arial;
        color: black;
        font-style: normal;
    }

    .indexvalue_prop{
        font-size: 14px;
        font-family: arial;
        color: #17D210;
        font-style: normal;
    }

    .classtd{
        font-size: 12px;
     }

    .pallete{
        font-size: 20px;
        font-family: arial;
        background-color: #EEEEEE;
        color: #292351;
        width: 96%;
     }

    .subindex{
        font-size: 16px;
        font-family: arial;
        background-color: #EEEEEE; 
        color:#292351; 
        width:96%;
     }

    .register_table{
        table-layout: auto;
        border-collapse: collapse;
        border-style: solid;
        border: solid;
        border-width: thin;
        border-color: #778899;
        margin-left: 14%;
        width: 70%;
    }

    .register_table_reggroup{
        table-layout: auto;
        border-collapse: collapse;
        border-style: solid;
        border: solid;
        border-width: thin;
        border-color: #778899;
        margin-left: 0;
        width:96%;
    }

    .count_table{
        table-layout: auto;
        border-collapse: collapse;
        border-style: solid;
        border: solid;
        border-width: thin;
        border-color: #778899;
        margin-left: 0;
    }

    .registerindex{ 
        font-size: 15px;
        font-family: arial;
        background-color: #EEEEEE; 
        color:#292351;
    }

    .registerindex1{
        font-size: 14px;
        font-family: arial;
        background-color: #EEEEEE;
        color: #292351;
        width: auto;
    }

    .table_value{
        font-size: 15px;
        font-family: arial;
        color: black;
        font-style: normal;
    }

    .table_value1{
        font-size: 12px;
        font-family: arial;
        color: black;
        font-style:normal;
    }

    .doc_table{
        font-size: 14px;
        font-family: arial;
        background-color: #EEEEEE;
        color: black;
    }
    
    #index .decorateHref{/*remove all text decoration from navigation*/
        text-decoration: none;
    }

    #index a:hover{/*hovering over navigation, colors it red*/
        color:red;
    }
  
  
    
    #index .nav{
        list-style: none;
        list-style-type: none;
        font-size: 12px;
        position: fixed;
        height: 80%;
        overflow: auto;
        width: 20%;
/*        margin-bottom:5%;
*/        /*width:18%;*/
        /*max-width: 90%;
        max-height: 90%;*/
    }
    
    #index{
        width:30%;/*index would be visible with 30% of whole page length*/
        margin: 0%;/* margin from left view of index*/
        border-right: thin solid #cccccc;
        background-color: #eeeeee;
    }
    
    #index li:before{
        margin-right: 4px;
    }
    
    #index li{
        list-style: none;
    }
    
    #expand_collapse_all{
        position:fixed;
    }
    
    #index li.expanded:before {
        content: url('html_img/minus.png');
    }
    
    #index li.collapsed:before{
        content: url('html_img/plus.png');
    }
    
   
    #index .hide{
        display: none;
    }

    #index .show{
        display: block;
    }
    
    .print{
        float: left;  
    }
    
    #metaTable {
       width: 70%;/*width of meta table**/
/*       max-width: 600px; defines fixed size*/
       margin-left:7%;
       height:20%;
       margin-right:10%;
    }
    
    #metaData{
/*        border-bottom: thin solid #cccccc;
*/        border-bottom: thin solid #7ec0ee;
        margin : 0%;
        /*position:fixed;*/
        width:100%;
        vertical-align :top;
        /*margin:auto;*/
      /*  text-align:center;*/
        /*height:10%;*/
        background-color:white;
         margin-right:10%;
    }
    
    #metaData#metaTable{
        /*position:fixed;*/
        width:70%;
        height:10%;
    }
    
    #copyright{
        color:#444;
    }
    
   /* #printDiv{
        position:fixed;
    }*/
    
    #blockDiv{
        margin-left : 1%;
        overflow:auto;
        width:100%;
    }
    
    #listDiv{
        position: static;
      /*overflow: auto;*/
        margin: 1%;
        padding: 1%;
   }

   #html2{
        width:100%;/*total width of div for right side page, excluding index, including printDiv, metaTable,blockData*/
       /* padding: 1%;
        margin: 2%;/\*leave margins of 2% left and right of the div in the page*\/*/
        margin-top: 0%;/*leave margins of 1% top of the div in the page*/
        margin-left: 1%;/*leave margins of 1% left of the div in the page*/
        /*padding-bottom: 0;*/
        float: left;
        padding: 0;
        margin: 0 auto;    
   }
  
    /*--------------------------------------         Ends HTML       --------------------------*/

    /*---------------------------------------         Starts HTML2    --------------------------*/

    @media print{
        #non-printable{
            display: none;
        }
        #printable {
            display: block;
        }
    }
    
    ul { 
        margin: 0;/*vertical and horizontal gap between li and ul tags*/
        padding-left: 2%;/*difference in length visible between li and ul tags, inter between*/
     }
    
    .ul_html2{
        margin: 0;
        padding: 0px 8px;
    }
    
    .classname{
        background-color: transparent;
        border: 1px solid #dcdcdc;
        display: inline-block;
        color: #AD0909;
        font-size: 13px;
        font-weight: bold;
        padding: 5px 55px;
        text-decoration: none;
        min-width: 980px;
    }
    
    .classname:active {
        position: relative;
        top: 1px;
    }
    
    .index_heading{
        font-size: 15px;
        font-family: sans-serif;
        color: Navy;
        text-align: center;
        margin-top: 1px;
        position: fixed;/*fixed position in reference to navigation*/
        padding-left: 3%;/*INDEX having padding from left by 3% equivalent to ul tags*/
    }
    
    h3{
        font-size: 20px;
        font-family: sans-serif;
        color: Navy;
        text-align: center;
    }
    
    h2{
        font-size: 22px;
        font-family: sans-serif;
        color: Navy;
        text-align: left;
    }
    
    .table_div{
        table-layout: auto;
        border-collapse: collapse;
        border-style: solid;
        border: solid;
        border-width: thin;
        border-color: #778899;
        max-width: 0;
        max-height: 0;
    }
    
    .svg-container{
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 5%; /* aspect ratio */
        vertical-align: top;
       /* overflow-y: auto;*/
        min-width: 980px;
        padding-left: 2px;
    }
    
    .heading{
        font-size: 18px;
        font-family: "Franklin Gothic Medium";
        color: rgb(200,0,0);
        text-align: center;
    }
    
    .main_heading{
        font-size: 25px;
        font-family: "Franklin Gothic Heavy";
        color: black;
        text-align: center;
    }	
    
    .text{
        font-size: 13px;
        font-family: "Franklin Gothic Medium";
        color: black;
        text-align: center;
    }
    
    .container{
        width: auto;
        height: auto;
        padding: 0;
        display: flex;/**keeps htmlalt2 page in position for index and contents with body page in sync, no overlapping*/
      
    }
    
    @media screen and (max-width:1300px){
      #index{
            display: none;
        }
        
        .print{
            float:right;
            margin-left:50%;
        }
        
        #html2{
            display: block;
           /* position: static;*/
            float: left;
            padding: 0;
            width: 100%;
            margin: 0 auto;
            horizontal-align: center;
        }
        
        #metaTable{
            width: 80%;/*width of meta table**/
    /*      max-width: 600px; defines fixed size*/
            margin-left:8%;
            height:20%;
            margin-right:10%;
        }
      }
      
      
    
      
 .parentTable{
   font-size: 20px;
   font-family: arial;
   border: 1px solid black;
   border-radius: 1px;
   width: 100%;
   text-align: center;
   
}

.header_section{
        font-size: 18px;
        font-family: arial;
	    border:solid black; 
       border-width: thin;		
        text-align: left ;
        padding: 1px;
	background-color: #5cd6d6;
        color: black;
        text-align: center;
	
}
.cell_section{
        font-size: 11px;
        font-family: arial;
	     border: solid black;
	   border-width: thin;
	    border-radius: 2px;
	     width:33%;
        padding: 1px;
        text-align: left;
       
	
}
.row_section:hover {background-color:#d9d9d9;}
    /*--------------------------------------         Ends HTML2       --------------------------*/
